/* define variable colors */
/* define variable size */
/* define other variables */
body {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  /* bdp: business details page */ }
  body #bdp-container {
    width: 308px;
    height: 737px;
    border: 24px solid #2962ff;
    /* common used classes */
    /* bdp main image */ }
    body #bdp-container .fg-yellow {
      color: #f2d40c; }
    body #bdp-container .fg-grey {
      color: #8e8e8e; }
    body #bdp-container .fg-dark-grey {
      color: #535756; }
    body #bdp-container .fg-navy {
      color: #636998; }
    body #bdp-container .fg-blue {
      color: #2962ff; }
    body #bdp-container .bg-blue {
      background-color: #2962ff; }
    body #bdp-container .left {
      float: left; }
    body #bdp-container .right {
      float: right; }
    body #bdp-container .clear {
      clear: left;
      clear: right; }
    body #bdp-container.wrap-center, body #bdp-container .wrap-center {
      padding: 0 16px; }
    body #bdp-container .border-box {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    body #bdp-container .truncate-text {
      width: 290px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    body #bdp-container > .bdp-image {
      background-image: url("http://www.localsearch.com.au/sys/ld/68/FEATURE/Plumbing/100760_Feature.png");
      height: 451px;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 -16px; }
    body #bdp-container > .bdp-details {
      height: 286px;
      padding-top: 40px;
      position: relative; }
      body #bdp-container > .bdp-details > h1 {
        font-size: 24px;
        margin-bottom: 0px; }
      body #bdp-container > .bdp-details i {
        width: 18px;
        height: 24px; }
      body #bdp-container > .bdp-details > .bdp-logo {
        background-image: url("http://www.localsearch.com.au/sys/ld/68/LISTINGS/886/75/8867594/8867594_1506086_LD.png");
        background-position: center;
        background-size: cover;
        width: 82px;
        height: 82px;
        border-radius: 50%;
        border: 3px solid #fff;
        margin-top: -85px; }
      body #bdp-container > .bdp-details > .bdp-rating {
        /* icon star yellow */
        /* icon star grey */ }
        body #bdp-container > .bdp-details > .bdp-rating label {
          line-height: 27px; }
          body #bdp-container > .bdp-details > .bdp-rating label:before {
            content: '\00a0\00a0'; }
        body #bdp-container > .bdp-details > .bdp-rating .star-yellow {
          background: url("../images/sprite-icons.png") 0 0 no-repeat; }
        body #bdp-container > .bdp-details > .bdp-rating .star-grey {
          background: url("../images/sprite-icons.png") -24px 0 no-repeat; }
      body #bdp-container > .bdp-details > .bdp-phone {
        margin-top: 40px; }
      body #bdp-container > .bdp-details > .bdp-location {
        /* checkin icon */ }
        body #bdp-container > .bdp-details > .bdp-location i {
          background: url("../images/sprite-icons.png") -48px 0 no-repeat;
          width: 24px; }
      body #bdp-container > .bdp-details > .bdp-info {
        height: 57px;
        border-top: 1px solid #e9e9e9;
        position: absolute;
        /* to allow border-top whole width */
        width: 340px;
        left: 0px;
        bottom: 0px;
        margin: 0 -16px;
        /* vertical align content middle */
        /* info icon */ }
        body #bdp-container > .bdp-details > .bdp-info > div {
          position: relative;
          top: 28%;
          display: list-item;
          list-style-type: none; }
        body #bdp-container > .bdp-details > .bdp-info i {
          background: url("../images/sprite-icons.png") -72px 0 no-repeat;
          width: 24px; }
